* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Barlow';
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  position: absolute;
    list-style: none;
    display: flex;
    padding: 20px 0;
    align-items: center;
    cursor: pointer;
  }
  .list:hover{
    color: #222831;
  }
  .logo{
    margin-left: 128px;
  }
  
  .item {
    padding: 16px;
    display: flex;
    align-items: flex-start;
    color: rgba(25, 24, 37, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    transition: 0.8s all ease;
  }
  
  .item a {
    align-items: center;
    color: #575859;
    font-weight: 600;
    line-height: 14.872px;
    text-decoration: none;
  }
  .item2{
    display: flex;
  }
  
  .txt1 {
    margin-left: 197px;
  }
  .item:hover{
    color: #222831;
  }
  
  .btn {
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 100px;
    background: #FFF;
    color: #222831;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-left: 197px;
    cursor: pointer;
    transition: 0.5s all ease;
  }
  .btn:hover{
        color: #965ee4;
        box-shadow: -2px 1px 29px -2px rgba(196, 78, 215, 0.75);
        -webkit-box-shadow: -2px 1px 29px -2px rgba(146, 27, 164, 0.75);
        -moz-box-shadow: -2px 1px 29px -2px rgba(171, 41, 191, 0.75);
  }
  .btn2{
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 100px;
    background: #5D50C6;
    color: #EEE;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
    transition: 0.5s all ease;
  }
  .btn2:hover{
    color: #975aec;
    box-shadow: -2px 1px 29px -2px rgba(159, 29, 179, 0.75);
    -webkit-box-shadow: -2px 1px 29px -2px rgba(177, 1, 204, 0.75);
    -moz-box-shadow: -2px 1px 29px -2px rgba(166, 23, 188, 0.75);
  }
  .btn3{
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 16px;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 34px 75px 0px rgba(0, 0, 0, 0.07), 0px 137px 137px 0px rgba(0, 0, 0, 0.06), 0px 308px 185px 0px rgba(0, 0, 0, 0.04), 0px 548px 219px 0px rgba(0, 0, 0, 0.01), 0px 856px 240px 0px rgba(0, 0, 0, 0.00);
    color: #F85E9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border: none;
    margin-left: 128px;
    margin-top: 200px;
    cursor: pointer;
    transition: 0.5s all ease;
}
.btn3:hover{
  color: #be54ab;
  box-shadow: -2px 1px 29px -2px rgba(213, 6, 179, 0.75);
  -webkit-box-shadow: -2px 1px 29px -2px rgba(236, 13, 199, 0.75);
  -moz-box-shadow: -2px 1px 29px -2px rgba(217, 7, 203, 0.75);
}
.txt2{
    color: #000;
    font-size: 69px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    margin-left: 128px;
    margin-top: 43px;
}
.txt2 span{
    color: #F85E9F;
    font-size: 69px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.txt3{
    color: rgba(25, 24, 37, 0.50);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-left: 128px;
    margin-top: 43px;
}
.btn4{
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 100px;
    background: #5D50C6;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
    color: #EEE;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    border: none;
    margin-left: 128px;
    margin-top: 43px;
    cursor: pointer;
    transition: 0.5s all ease;

}
.btn4:hover{
  color: #8639f3;
  box-shadow: -2px 1px 29px -2px rgba(159, 29, 179, 0.75);
  -webkit-box-shadow: -2px 1px 29px -2px rgba(177, 1, 204, 0.75);
  -moz-box-shadow: -2px 1px 29px -2px rgba(166, 23, 188, 0.75);
}
.btn5{
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #EEE;
    background:#FFF;
    color: #222831;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.5s all ease;
}
.btn5:hover{
  color: #8639f3;
  box-shadow: -2px 1px 29px -2px rgba(159, 29, 179, 0.75);
  -webkit-box-shadow: -2px 1px 29px -2px rgba(177, 1, 204, 0.75);
  -moz-box-shadow: -2px 1px 29px -2px rgba(166, 23, 188, 0.75);
}

.btn__wrap{
    display: flex;
    gap: 32px;
}
.wrapper{
  display: flex;
}
.photo{
  position: absolute;
  margin-left: 91px;
  margin-top: 113px;  
}
.bars{
  display: none;
}
input[type='checkbox'] {
  display: none;
}

.svg{
  margin-left: 10px;
  margin-top: 5px;
}
@media screen and (max-width: 897px) {
   .bars{
    display: block;
   }
   .item2{
    display: none;
   }
   .btn__wrap{
    display: block;
   }
   .logo__svg{
    align-items: center;
   }
   input [type='checkbox']:checked + .item2 {
      display: block;
   } 
}
@media screen and (max-width: 398px) {
   .btn{
    display: none;
   }
   .btn2{
    display: none;
   }
   .bars{
    margin-left: 208px;
   }
}

.block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 196px;
  gap: 100px;
}
.txt4{
  color: #F85E9F;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-top: 274px;
}
.txt5{
  color: #191825;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  margin-top: 16px;
}
.block2{
  margin-left: 110px;
}
.txt6{
  color: #191825;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
}
.txt7{
  color: rgba(25, 24, 37, 0.50);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-top: 32px;
}
.card{  
  width: 350px;
  height: 443px;
  color: rgba(25, 24, 37, 0.50);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.10);
  background: #FFF;
}
.map{
  padding: 64px;
}
.cards__wrapper{
  display: flex;
  gap: 21px;
  margin-left: 130px;
  margin-top: 128px;
  cursor: pointer;
}
.block2{
  display: flex;
}
.txt8{
  color: #F85E9F;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-top: 129px;
}
.txt9{
  color: #191825;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
}
.btn8{
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid  rgba(25, 24, 37, 0.10);
  background: #FFF;
  transition: 0.5s all ease;
}
.btn8:hover{
  color: #8639f3;
  box-shadow: -2px 1px 29px -2px rgba(159, 29, 179, 0.75);
  -webkit-box-shadow: -2px 1px 29px -2px rgba(177, 1, 204, 0.75);
  -moz-box-shadow: -2px 1px 29px -2px rgba(166, 23, 188, 0.75);
}

.btn7{
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #5D50C6;
  margin-left: 32px;
  transition: 0.5s all ease;
  border: none;
}
.btn7:hover{
  color: #6303e9;
  box-shadow: -1px 1px 35px -2px rgba(224, 62, 249, 0.75);
  -webkit-box-shadow: -2px 1px 35px -2px rgba(185, 28, 210, 0.75);
  -moz-box-shadow: -2px 1px 35px -2px rgba(202, 13, 231, 0.75);
}
.block3{
  margin-left: 100px;
}
.wrap3{
  display:flex;
}
.btn__wrap2{
  margin-top: 128px;
  margin-left: 550px;
}
.txt__wrap{
  display: flex;
}
.txt10{
  color: #191825;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
}
.txt11{
  color: #F85E9F;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-left: 30px;
}
.txt12{
  color: rgba(25, 24, 37, 0.75);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
}
.txt13{
  color: #FF5722;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

}
.txt__wrap2{
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}
.main__txt-wrap{
  width: 373px;
  height: 225px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 0px 0px 32px 32px;
  background: #FFF;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 32px 71px 0px rgba(0, 0, 0, 0.05), 0px 128px 128px 0px rgba(0, 0, 0, 0.04), 0px 288px 173px 0px rgba(0, 0, 0, 0.03), 0px 513px 205px 0px rgba(0, 0, 0, 0.01), 0px 801px 224px 0px rgba(0, 0, 0, 0.00);
  cursor: pointer;
  transition: 0.5s all ease;
}
.main__wrapper{
  display: flex;
  margin-top: 65px;
  margin-left: 100px;
  gap: 32px;
}
.main__txt-wrap:hover{
  color: aqua;
  box-shadow: -1px 1px 35px -2px rgba(62, 199, 249, 0.75);
  -webkit-box-shadow: -2px 1px 35px -2px rgba(28, 155, 210, 0.75);
  -moz-box-shadow: -2px 1px 35px -2px rgba(13, 158, 231, 0.75);
}
.txt14{
  color: #F85E9F;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-top: 158px;
}
.txt15{
  color: #191825;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 16px;
}
.txt16{
  color: rgba(25, 24, 37, 0.50);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  margin-top: 32px;
}
.txt17{
  color: #FF5722;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
}
.txt18{
  color: #191825;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
}
.card{
  transition: 0.5s all ease;
}
.card:hover{
  color: #3076f7;
  box-shadow: -1px 1px 35px -2px rgba(78, 223, 255, 0.75);
  -webkit-box-shadow: -2px 1px 35px -2px rgba(43, 231, 241, 0.75);
  -moz-box-shadow: -2px 1px 35px -2px rgba(50, 214, 239, 0.75);
}
.card1{
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.10);
  background: var(--white, #FFF);
  width: 204px;
  height: 151px; 
  margin-top: 64px;
}
.card__wrapper2{
  display: flex; 
  gap: 20px;
}
.wrapper3{
  display: flex;
}
.card2{
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.10);
  background: var(--white, #FFF);
  width: 204px;
  height: 151px; 
  margin-top: 32px;
  transition: 0.5s all ease;
  cursor: pointer;
}
.card2:hover{
  color: #f76f30;
  box-shadow: -1px 1px 35px -2px rgba(255, 134, 78, 0.75);
  -webkit-box-shadow: -2px 1px 35px -2px rgba(241, 99, 43, 0.75);
  -moz-box-shadow: -2px 1px 35px -2px rgba(239, 110, 50, 0.75);
}

.photo2{
  margin-top: 128px;
}
.txt19{
  color: #F85E9F;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-top: 128px;
}
.txt20{
  color: #191825;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  margin-top: 16px;
}
.txt21{
  color: rgba(25, 24, 37, 0.50);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 32px;
}
.txt22{
  color: #191825;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
}
.txt23{
  color: rgba(25, 24, 37, 0.50);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
}
.card__wrapper5{
  display: flex;
  width: 549px;
  height: 164px;
  padding: 32px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 32px;
  background: #FFF;
  transition: 0.5s all ease;
  margin-top: 10px;
}
.card__wrapper5:hover{
  color: #3076f7;
  box-shadow: -1px 1px 35px -2px rgba(78, 223, 255, 0.75);
  -webkit-box-shadow: -2px 1px 35px -2px rgba(43, 231, 241, 0.75);
  -moz-box-shadow: -2px 1px 35px -2px rgba(50, 214, 239, 0.75);
}
.card4{
  background: url(../static/images/BACKGROUND.png) no-repeat right center;
}
.txt24{
  color: #F85E9F;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  letter-spacing: 4.6px;
  text-transform: uppercase;
}
.txt25{
  color: #191825;
  text-align: center;
  font-family: Circular Std;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.txt26 span{
  color:#FF5722;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.txt26{
  color:  rgba(25, 24, 37, 0.75);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

